# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs

# other
eclipse
/runs
.vscode

# night config dependency override my beloved
!fabric/run/config/fabric_loader_dependencies.json